main { 
    background-color: rgb(250, 250, 250); 
    --font : Arial
}
.fas {color:#ea4040;}
.w100p_mw614 { width: 100%; max-width: 614px;}/*feed->img class*/
/* .size_box_100 { position: relative; height: 100px; } */
#item_container > .item { border: 1px solid #dfdfdf; border-radius: 8px; background-color: #fff;
font-family: var(--font) }

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    display: none;
}
.swiper-button-next img,
.swiper-button-prev img {
    border-radius: 50%;
    box-shadow: 3px 2px 2px #353535;
}
